<!-- formulario dentro de un modal https://getbootstrap.com/docs/4.0/components/modal/ -->
<!-- button trigger modal -->
<button type="button" class="btn btn-warning px-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <small>Postular</small>
</button>
<!-- modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title title-green" id="staticBackdropLabel">
                    Postular a la Vacante</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="btnCloseModal"></button>
            </div>
            <div class="modal-header border-0">
                <p class="text-muted">Rellena este formulario para poder postularte a esta oferta de empleo.
                    Asegúrate de proporcionar toda la información correctamente.</p>
            </div>
            <div class="modal-body">
                <form [formGroup]="postularForm" (ngSubmit)="getDataForm()">
                    <!-- apartado curriculum -->
                    <div class="form-group mb-3">
                        <label for="curriculum" class="form-label fw-semibold">Curriculum (URL) <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="curriculum" name="curriculum"
                            placeholder="Introduce URL de tu curriculum" formControlName="curriculum">

                        @if(checkControl('curriculum', 'required')){
                        <div class="text-danger">Campo requerido</div>
                        }
                        @if(checkControl('curriculum', 'pattern')){
                        <div class="text-danger">La URL introducida no es válida</div>
                        }
                    </div>

                     <!-- apartado archivo -->
                     <div class="form-group mb-3">
                        <label for="archivo" class="form-label fw-semibold">Portafolio, carta de presentación o certificados (URL) <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="archivo" name="archivo"
                            placeholder="Introduce URL de tu archivo" formControlName="archivo">
                        @if(checkControl('archivo', 'required')){
                        <div class="text-danger">Campo requerido</div>
                        }
                        @if(checkControl('archivo', 'pattern')){
                        <div class="text-danger">La URL introducida no es válida</div>
                        }
                    </div>

                    <!-- apartado comentarios -->
                    <div class="form-group mb-3">
                        <label for="comentarios" class="form-label fw-semibold">Comentarios</label>
                        <input type="text" class="form-control form-control-sm" id="comentarios" name="comentarios"
                            placeholder="Introduce tus comentarios" formControlName="comentarios">
                        @if(checkControl('comentarios', 'minlength')){
                        <div class="text-danger">Debe tener al menos 10 caracteres</div>
                        }
                        @if(checkControl('comentarios', 'maxlength')){
                        <div class="text-danger">Máximo 100 caracteres</div>
                        }
                    </div>

                    <!-- botones -->
                    <div class="d-flex justify-content-between mt-5">
                        <button type="submit" class="btn btn-warning btn-sm px-3 py-2" [disabled]="!postularForm.valid">
                            Enviar solicitud
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm px-3 py-2" (click)="cancelar()">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>