<section>
    <div class="container flex-column center text-center">
        <!--header-->
        <img src="images/logo.svg" alt="logo-text" class="img-fluid w-100 mb-1" style="max-width: 500px" />
        <div>
            <img src="images/publicar.svg" alt="home-img" class="img-fluid w-100" style="max-width: 440px" />
            <h3 class="fw-semibold title-green">Publica, postula y crece profesionalmente</h3>
        </div>
        <!--contenido-->
        <div class="mt-4 mb-3">
            <small>
                <h6 class="fw-semibold">Para Empresas</h6>
                <p>Publica ofertas de empleo, gestiona candidaturas y encuentra el mejor talento</p>
                <h6 class="fw-semibold">Para Candidatos</h6>
                <p>Explora vacantes, postúlate y avanza en tu carrera profesional</p>
            </small>
        </div>
        <!--acceso a login y registro -->
        <div>
            <button class="btn btn-warning mb-2 px-4" [routerLink]="['/register']">Registrate</button>
            <p><small>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a></small></p>
        </div>
    </div>
</section>
