<div class="container">
    <div class="row text-center">
        <div class="col-12 mb-5">
            <h2 class="fw-semibold title-green">Mi perfil</h2>
            <p class="text-muted">Consulta y gestiona fácilmente tus datos personales y de empresa asociada</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 my-2 mx-auto">
            <div class="card shadow-sm h-100">
                <div class="card-image text-center">
                    <img src="images/perfil.svg" alt="logo-text" class="w-100" style="max-width: 280px;">
                </div>
                <div class="card-body ps-5">
                    <div class="row mb-3">
                        <div class="col-6 fw-semibold ps-5">Nombre completo</div>
                        <div class="col-6">{{ (usuario$ | async)?.nombre }} {{ (usuario$ | async)?.apellidos }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6 fw-semibold ps-5">Correo electrónico</div>
                        <div class="col-6">{{ (usuario$ | async)?.email }}</div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-6 fw-semibold ps-5">Rol</div>
                        <div class="col-6">
                            @switch((usuario$ | async)?.rol) {
                            @case('CLIENTE') { Usuario }
                            @case('EMPRESA') { Empresa }
                            @case('ADMON') { Administrador }
                            @default { Sin Rol }
                            }
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6 fw-semibold ps-5">Nombre empresa</div>
                        <div class="col-6">{{ empresa?.nombre_empresa }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6 fw-semibold ps-5">Cif empresa</div>
                        <div class="col-6">{{ empresa?.cif }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6 fw-semibold ps-5">Dirección fiscal</div>
                        <div class="col-6">{{ empresa?.direccion_fiscal }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6 fw-semibold ps-5">País</div>
                        <div class="col-6">{{ empresa?.pais }}</div>
                    </div>
                </div>
                <div class="card-footer text-center bg-white border-0 mb-3">
                    <button type="button" class="btn btn-warning" (click)="editarPerfil()">Editar Perfil</button>
                </div>
            </div>
        </div>
    </div>
</div>