<section>
    <div class="container flex-column center text-center">

    <img src="images/logo.svg" alt="logo-text" class="img-fluid w-100 mb-4" style="max-width: 300px" />
    

    <div class="login-container" style="max-width: 400px; margin: 0 auto;">
        <h2 class="fw-semibold mb-4">Iniciar sesión</h2>
        
        <form (ngSubmit)="login()" class="text-start">
        <div class="mb-3">
            <label for="email" class="form-label fw-semibold">Email</label>
            <input type="email"  id="email" [(ngModel)]="email" name="email" required class="form-control" placeholder="Ingresa tu email"/>
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label fw-semibold">Contraseña</label>
            <input class="form-control" type="password" id="password" [(ngModel)]="password" name="password" required  placeholder="Ingresa tu contraseña"/>
        </div>
        
        <div class="error-container mb-3" style="min-height: 50px;">
        @if(error) {
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        }
        </div>
        <button type="submit" class="btn btn-warning w-100 mb-3">Ingresar</button>
        
        <div class="text-center">
            <p class="small">
            ¿No tienes una cuenta? 
            <a [routerLink]="['/register']" class="fw-semibold">Regístrate</a>
            </p>
        </div>
        </form>
    </div>
    </div>
</section>